.track {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 2px solid #7A28CB;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: hsla(270, 94%, 13%, 0.8);
    color: #0C120C;
}

p {
    margin-bottom: 10px;
}

.addButton {
    margin-right: 20px;
    font-size: 16pt;
    font-weight: 700;
    color: rgb(248, 230, 253);
}

.addButton:hover {
    color: #a32772;
    cursor: pointer;
}